.bg-black {
    background-color: #000000 !important;
}

.bg-gold {
    /* background-color: #FFD700 !important; */
    background: repeating-linear-gradient(
      -45deg,
      orange,
      orangered 10px,
      orange 10px,
      orangered 20px
    )
    orange;
    background-blend-mode: screen;
    /* color: #fff; */
}

header {
    padding: 156px 0 100px;
}
  
section {
    padding: 150px 0;
}

.li-head {
    font-weight: bold;
}