# Enable Rewrite Engine
RewriteEngine On

# If the requested file or directory does not exist, rewrite the URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite everything to index.php
RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]